<header id="main-header">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <div id="site-title">
    <img src="{{ site.baseurl }}/images/logos.svg" alt="Yapay -  Intermediador de Pagamento">
    <a href="{{ site.baseurl }}">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  <a href="{{site.baseurl}}" class="page-link{% if current == null %} active{% endif %}">Inicial</a>
  <a href="{{site.baseurl}}/woocommerce" class="page-link{% if current == null %} active{% endif %}">WooCommerce</a>
  <a href="{{site.baseurl}}/magento" class="page-link{% if current == null %} active{% endif %}">Magento</a>
  <a href="{{site.baseurl}}/prestashop" class="page-link{% if current == null %} active{% endif %}">PrestaShop</a>
  <a href="{{site.baseurl}}/opencart" class="page-link{% if current == null %} active{% endif %}">OpenCart</a>
  {% for page in site.pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</header>
